<div class= "container-fluid">
  
  <h2> Login </h2>

    <%= bootstrap_form_for(:sessions, url: login_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>

    <% if @errors && @errors.any? %>
      <ul>
        <% @errors.each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

        <%= f.text_field :email, placeholder: 'Email'%>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.form_group do %>
          <%= f.submit 'Login'%>
        <% end %>
    <% end %>
</div>