<div class = "container-fluid">

  <h2> Create New Entry </h2>


  <%= bootstrap_form_for(@article, control_col: "col-sm-10") do |f| %>

    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.select :category, [['Practice','practice'],['Games','game'],['Special Event','special_event'],['Other','other']] %>
      <%= f.text_field :title %>
      <%= f.text_area :text %>
      <%= f.hidden_field :user_id, :value => session[:user_id]  %>

      <%= f.form_group do %>
        <%= f.submit %>
      <% end %>

  <% end %>

</div>