<div class = "container">
  <h1>Register</h1>

  <%= bootstrap_form_for(:users, url: register_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>

    <% if @errors %>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.text_field :username, placeholder: "Username" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.form_group do %>
      <%= f.submit "Register" %>
    <% end %>
  <% end %>
</div>